/* title made with google fonts */
h1 {
  text-align: center;
  font-size: 2.4rem;
  font-family: "Roboto Condensed", sans-serif;
  padding-top: 2rem;
}

body {
  text-align: center;
  /* height: 3000px; Used to enable scrolling */
  background: linear-gradient(0deg, #b80f66 0%, #db1fd8 51%, #8645c7 85%);
}
.head {
  font-size: 2rem;
  margin: 0.8rem;
}
.h2 {
  padding: 10px;
}
/* used to arrange the description content */
ul {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}
/* class to help change the image sizes */
.img1 {
  height: auto;
  width: 50rem;
  border-radius: 0.6rem;
  opacity: 0.78;
  padding-top: 0.4rem;
}

div {
  padding: 2rem;
}
/* used to create a transparent box around the text */
.box {
  padding: 0.625rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.box1 {
  font-size: 1.5rem;
  padding: 0.625rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
